# Problem 1 : Write a for loop to print all the numbers between 10 and 50

In [5]:
for i in range(11, 50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

# Problem 2 : Write a for loop to print all the odd numbers between 10 and 50

In [6]:
for i in range(11, 50):
    if(i%2 != 0):
        print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [7]:
for i in range(11, 50, 2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# Problem 3 : Write a while loop to print following series
# 105, 98, 91, ...., 14,7

In [11]:
i = 105
while i > 1:
    print(i)
    i -= 7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

# Problem 4 : Write a while loop to print sum of first 10 even numbers

In [23]:
num = 2
i=0
while (num <= 20):
    i+=num
    num += 2
print("Sum of even numbers : ", i)

Sum of even numbers :  110

# Write a program to display the number names  of the digites of a number entered by user, for example if the number is 231 then outout should be TWO THREE ONE

In [42]:
input = 231
i = str(input)
print(i)
a = 0
for iterator in i:
    if(i[a] == '0'):
        print("ZERO")
    elif(i[a] == '1'):
        print("ONE")
    elif(i[a] == '2'):
        print("TWO")
    elif(i[a] == '3'):
        print("THREE")
    elif(i[a] == '4'):
        print("FOUR")
    elif(i[a] == '5'):
        print("FIVE")
    elif(i[a] == '6'):
        print("SIX")
    elif(i[a] == '7'):
        print("SEVEN")
    elif(i[a] == '8'):
        print("EIGHT")
    elif(i[a] == '9'):
        print("NINE")
    else:
        break
    a+=1
    pass

231
TWO
THREE
ONE

In [44]:
num1 = input("Enter any number : ")
L1 = list(num1)
L = len(L1)
i = 0
n = {
    0 : "Zero",
    1 : "One",
    2 : "Two",
    3 : "Three",
    4 : "Four",
    5 : "Five",
    6 : "Six",
    7 : "Seven",
    8 : "Eight",
    9 : "Nine"
}

while (i < L):
    print(n[int(L1[i])], end = " ")
    i = i+1

TypeError: 'int' object is not callable

In [46]:
s = 'PYTHON'
l1 = list(s)
i = 0
while i < len(l1):
    print(l1[i])
    i = i+1

P
Y
T
H
O
N